@model PatisserieCestBon.Models.CartInfo


@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <title>見積確認画面</title>
</head>
<body>
    <div align="center">
        <h2>見積確認</h2>
        <form action="/Order/Add" method="post">

            <p>
                買い物かごの中身からお見積内容を表示します。<br>
                見積内容に間違いなければ、「注文」ボタンを押してください。<br>
                数量、希望納期を変更するには、値を入力して、「再見積」ボタンを押してください。<br>
                商品を削除する場合は、リストの右にある「削除」をチェックし、「再見積」ボタンを押してください。
            </p>

            <table border="1">
                <tr>
                    <td style="text-align:center">商品番号</td>
                    <td style="text-align:center">商品名</td>
                    <td style="text-align:center">単価</td>
                    <td style="text-align:center">数量</td>
                    <td style="text-align:center">希望納期</td>
                    <td style="text-align:center">金額</td>
                    <td style="text-align:center">削除</td>
                </tr>
                @foreach (var cart in ViewBag.cartList)
                {
                    <tr>
                        <td>@cart.itemNo.ToString("0000") </td>
                        <td>@cart.itemName</td>
                        <td>&yen;@String.Format("{0:#,0}-", cart.unitPrice)</td>
                        <td><input type="text" value="@cart.quantity" size="3" /></td>
                        <td><input type="text" id="receiptDate" value="@cart.deliveryDate.ToString("yyyy/MM/dd")" /></td>
                        <td>&yen;@String.Format("{0:#,0}-", (cart.quantity * cart.unitPrice))</td>
                        <td><input type="checkbox" name="delete" /></td>
                    </tr>
                }

                <tr><td rowspan="3"></td><td colspan="4" style="text-align:right">小計</td><td>&yen;@String.Format("{0:#,0}-", ViewBag.subTotal)</td><td rowspan="3"></td></tr>
                <tr><td colspan="4" style="text-align:right">消費税</td><td>&yen;@String.Format("{0:#,0}-", ViewBag.tax)</td></tr>
                <tr><td colspan="4" style="text-align:right">合計</td><td>&yen;@String.Format("{0:#,0}-", ViewBag.tax)</td></tr>
            </table>
            <input type="hidden" name="subtotal" value="@ViewBag.subtotal" />
            <input type="hidden" name="customerId" value="@ViewBag.customerId" />
            <input type="hidden" name="tax" value="@ViewBag.tax" />
            <input type="hidden" name="total" value="@ViewBag.total" />
            <input type="submit" value="注文" />
            <input type="submit" value="再見積" formaction="/Cart/CartCheck" />
        </form>
    </div>
    <script type="text/javascript">
        $('#receiptDate').datepicker();
    </script>
</body>
</html>


