
@{
    Layout = "~/Views/Shared/_BeforeAuthCustomer.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>顧客登録確認画面</title>
</head>
<body>
    <div align="center">

        <p>
            送信内容をご確認ください。<br />
            よろしければ、「登録」ボタンを押してください。
        </p><br />
        <table border="1">
            <tr><th colspan="2">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;会社情報</th></tr>
            <tr>
                <th style="text-align:center">会社名</th>
                <th>@ViewBag.companyName</th>
            </tr>
            <tr>
                <th style="text-align:center">住所</th>
                <th>@ViewBag.address</th>
            </tr>
            <tr>
                <th style="text-align:center">電話番号</th>
                <th>@ViewBag.telNo</th>
            </tr>
            <tr><th colspan="2">&emsp;&emsp;&emsp;&emsp;&emsp;ご担当者様情報</th></tr>
            <tr>
                <th style="text-align:center">氏名(漢字)</th>
                <th>@ViewBag.customerName</th>
            </tr>
            <tr>
                <th style="text-align:center">氏名(かな)</th>
                <th>@ViewBag.customerKana</th>
            </tr>
            <tr>
                <th style="text-align:center">部署</th>
                <th>@ViewBag.dept</th>
            </tr>
            <tr>
                <th style="text-align:center">メールアドレス</th>
                <th>@ViewBag.email</th>
            </tr>
        </table>

        <form action="/Customer/CustomerAdd3" method="post">
            <input type="hidden" name="companyName" value="@ViewBag.companyName">
            <input type="hidden" name="address" value="@ViewBag.address">
            <input type="hidden" name="telNo" value="@ViewBag.telNo">
            <input type="hidden" name="customerName" value="@ViewBag.customerName">
            <input type="hidden" name="customerKana" value="@ViewBag.customerKana">
            <input type="hidden" name="dept" value="@ViewBag.dept">
            <input type="hidden" name="email" value="@ViewBag.email">
            <input type="hidden" name="password" value="@ViewBag.password">
            <input type="submit" value="登録" />
            <input type="button" onclick="history.back()" value="戻る" />
        </form>

    </div>
</body>
</html>
