@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/common.js"></script>

    <title>顧客更新入力画面</title>
</head>
<body>
    <div align="center">
        <h1>顧客情報メンテナンス</h1>
        <p>
            顧客情報を更新します。<br />
            更新したい内容を入力して、「送信」ボタンを押してください。
        </p>

        <form action="/Customer/Update2" method="post" style="display:inline">
            <input type="hidden" name="customerId" value="@ViewBag.customerId">
            <table>
                <table border="0">
                    <tr>
                        <th>顧客ID</th>
                        <th>@ViewBag.customerId</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>会社情報</th>
                    </tr>

                    @if (ViewBag.inappropriateCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.Inappropriate</p>
                    }

                    @if (ViewBag.compNameCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RecuiredCompanyName</p>
                    }
                    <tr>
                        <th>会社名</th>
                        <th><input type="text" name="companyName" maxlength="255" size="30" value="@ViewBag.companyName"></th>
                    </tr>

                    @if (ViewBag.addressCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RecuiredAddress</p>
                    }
                    <tr>
                        <th>住所</th>
                        <th><input type="text" name="address" maxlength="255" size="40" value="@ViewBag.address"></th>
                    </tr>


                    @if (ViewBag.telNoCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RecuiredTelNo</p>
                    }
                    @if (ViewBag.formatTelNoCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.formatTelNo</p>
                    }
                    @if (ViewBag.typeTelCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.TypeTelNo</p>
                    }
                    <tr>
                        <th>電話番号</th>
                        <th><input type="text" name="telNo" maxlength="13" size="20" value="@ViewBag.telNo"></th>

                    </tr>
                    <tr>
                        <th></th>
                        <th>ご担当者情報</th>
                    </tr>

                    @if (ViewBag.customerNameCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RecuiredCustomerName</p>
                    }
                    <tr>
                        <th>氏名(漢字)</th>
                        <th><input type="text" name="customerName" maxlength="255" size="30" value="@ViewBag.customerName"></th>

                    </tr>

                    @if (ViewBag.customerKanaCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RecuiredCustomerKana</p>
                    }
                    @if (ViewBag.formatKanaCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.TypeKana</p>
                    }
                    <tr>
                        <th>氏名(かな)</th>
                        <th><input type="text" name="customerKana" maxlength="255" size="30" value="@ViewBag.customerKana"></th>

                    </tr>
                    <tr>
                        <th>部署</th>
                        <th><input type="text" name="dept" maxlength="255" size="20" value="@ViewBag.dept"></th>
                    </tr>

                    @if (ViewBag.formatEmailCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.formatEmail</p>
                    }
                    @if (ViewBag.typeEmailCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.TypeEmail</p>
                    }
                    <tr>
                        <th>メールアドレス</th>
                        <th><input type="text" name="email" maxlength="255" size="40" value="@ViewBag.email"></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>認証用情報</th>
                    </tr>

                    @if (ViewBag.passwordCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RequiredPassword</p>
                    }

                    @if (ViewBag.matchPasswordCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.MatchRetypePassword</p>
                    }
                    <tr>
                        <th>パスワード</th>
                        <th><input type="password" name="password" maxlength="255" size="20" value="@ViewBag.password"></th>
                    </tr>

                    @if (ViewBag.retypePasswordCheck == 1)
                    {
                        <p class="text-danger">@ViewBag.RequiredRetypePassword</p>
                    }
                    <tr>
                        <th>パスワード(確認)</th>
                        <th><input type="password" name="checkPass" maxlength="255" size="20" value="@ViewBag.checkPass"></th>
                    </tr>
                </table><br />
                <input type="submit" value="送信" />

        </form>
        <form action="~/Customer/List" method="post" style="display:inline">
            <input type="submit" value="戻る" />
        </form>
        <input type="button" value="リセット" onClick="clearFormAll(); " style="display:inline" />
    </div>
</body>
</html>
