@model PatisserieCestBon.Models.Employee
@{
    ViewBag.Title = "EmployeeAdd1";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>担当者追加入力画面</title>
</head>
<body>

    <h2>担当者情報メンテナンス</h2>
    <br>
    <form method="post">
        担当者情報を新規登録します。<br>
        登録内容を入力して、「送信」ボタンを押してください。<br>
        <p class="text-danger">@ViewBag.ErrorMatchRetypePassword</p>
        <p class="text-danger">@ViewBag.ErrorRecuiredEmpNo</p>
        <p class="text-danger">@ViewBag.ErrorRecuiredEmpName</p>
        <p class="text-danger">@ViewBag.ErrorRecuiredPassword</p>
        <p class="text-danger">@ViewBag.ErrorRecuiredRetypePassword</p>
        <p class="text-danger">@ViewBag.ErrorFormatEmployeeId</p>
        <p class="text-danger">@ViewBag.ErrorCharTypePassword</p>
        <p class="text-danger">@ViewBag.ErrorDuplicatedEmployeeId</p><br>
        <table border="1">
            <tr><td>社員番号</td><td><input type="text" name="empno" /></td></tr>
            <tr><td>担当者氏名</td><td><input type="text" name="empname" /></td></tr>
            <tr><td>パスワード</td><td><input type="password" name="password1" /></td></tr>
            <tr><td>パスワード(確認)</td><td><input type="password" name="password2" /></td></tr>
        </table>
        <br>
        <input type="submit" value="送信" formaction ="/Employee/Add2">
        <input type="submit" value="戻る" formaction ="/Employee/List2">
    </form>

</body>
</html>
@*@Html.EditorFor(model => model.empNo)*@
