@model IEnumerable<IGrouping<Decimal, PatisserieCestBon.Models.OrderInfo>>
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StatusCheck</title>
</head>
<body>
    <h2>ご注文ステータス確認</h2>
    <b>現在ご注文いただいている商品のステータスは以下のとおりです。</b><br />
    <b>発送済み商品のないご注文については、キャンセルが可能です。</b><br />
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
    {
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    }
    @using (Html.BeginForm("OrderCancel1", "Order", FormMethod.Post))
    {
        foreach (var group in Model)
        {
            @*decimal orderNo = orderInfo.orderNo;
                <input type="hidden"name="orderNo" value="@orderNo"/>*@
            <b>ご注文番号:@group.Key.ToString("000000")</b><input name="cancel" type="submit" value="この注文をキャンセル" />
            <table border="1" align="center">
                <tr>
                    <th style="text-align:center">商品番号</th>
                    <th style="text-align:center">商品名</th>
                    <th style="text-align:center">数量</th>
                    <th style="text-align:center">希望納期</th>
                    <th style="text-align:center">ステータス</th>
                </tr>
                @foreach (var order in group)
                {
                    <tr>
                        <td><input type="hidden" name="orderNo" value="@order.orderNo" /> @order.itemNo.ToString("0000")</td>
                        <td>@order.itemName</td>
                        <td>@order.quantity</td>
                        <td>@Html.DisplayFor(model => order.deliveryDate)</td>
                        <td>@order.status</td>
                    </tr>
                }
            </table>
            <hr style="background-color:black; height:1px; width:70%">
        }
    }
</body>
</html>
