@model PatisserieCestBon.Models.Item

@{
    ViewBag.Title = "商品追加確認";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h3>商品情報メンテナンス</h3>

<p style="padding:10px">
    以下の内容で商品情報を登録します。<br>
    登録内容を確認の上、「登録」ボタンを押してください。<br>
</p>

@*エラーメッセージがある場合は表示*@
@if (ViewBag.LengthOfErrorMessageList > 0)
{
    foreach (var errorMessage in ViewBag.ErrorMessageList)
    {
        <p class="text-danger">@errorMessage</p>
        <br>
    }
}

<form>
    <table border="1" align="center" width="400px">
        <tr>
            <th style="text-align:center">
                商品番号
            </th>
            <td style="text-align:left">
                @ViewBag.model.itemNo.ToString("0000")
                <input type="hidden" name="itemNo" value="@ViewBag.model.itemNo">
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                商品名
            </th>
            <td style="text-align:left">
                @ViewBag.model.itemName
                <input type="hidden" name="itemName" value="@ViewBag.model.itemName">
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                商品画像
            </th>
            <td style="text-align:center">
                <img src="@ViewBag.model.photoUrl" alt="商品画像" />
                <input type="hidden" name="photoUrl" value="@ViewBag.model.photoUrl">
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                単価
            </th>
            <td style="text-align:left">
                &yen;@String.Format("{0:#,0}-", @ViewBag.model.unitPrice)
                <input type="hidden" name="unitPrice" value="@ViewBag.model.unitPrice">
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                寸法
            </th>
            <td style="text-align:left">
                @ViewBag.model.size@("cm")
                <input type="hidden" name="size" value="@ViewBag.model.size">
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                種別
            </th>
            <td style="text-align:left">
                @ViewBag.model.assortment
                <input type="hidden" name="assortment" value="@ViewBag.model.assortment">
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                カテゴリー
            </th>
            <td style="text-align:left">
                @ViewBag.model.category
                <input type="hidden" name="category" value="@ViewBag.model.category">
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" formaction="/Item/Add3" formmethod="post" value="登録">
    @* ↓onclick="history.back()"で、入力値を保持したまま入力画面に戻れる *@
    <input type="button" onclick="history.back()" formmethod="post" value="戻る">
</form>
<br>